
body {
	background-color: #eee;
	padding: 5px;
	/*font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;*/
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 1rem; 
}

#tracebar { 
    border-bottom:1px solid #e78f08; 
    background:#f6a828; 
    padding:4px 8px;
   	font-family: 'Radley', sans-serif;
   	font-size: 20px;
    position:fixed; 
    top:0; 
    left:0; 
    z-index:2000; 
    width:100%;
    height: 40px;
}

.question {
	margin-top: 50px;
	margin-left: 2px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-weight: bold;
	font-size: 16px;
}

button {
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 12px;
	border-radius: 12px;
	display: inline;

}

#content {
	margin-top: 20px;
	margin-left: 2px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 16px;

}

table {
    border-collapse: collapse;
    width: 90%;
    margin-bottom:20px;

}

.informationtable {
    border: 1px solid black;
	height: 35px;
	padding: 5px;
	text-align: center;
	margin-bottom: 12px;
	
}

img {
	display: block;
	margin:auto;
	width: 100%;
}


#tools, #survey, #resources {
    background:#f6a828; 
	color: rgb(255,255,255); 
	font-size: 18px;
	font-weight: bold;
	border-radius: 30px 30px 0px 0px;
    border-left:1px solid #e78f08 ;
    padding: 0px;

}

.tools, .survey, .resources {
	margin-left: 25px;
}
.toolscontent, .surveycontent, .resourceslist {
    height: 700px;
    background: #eee;
    margin: 0px;
    padding: 10px;
    margin-top: 10px;
    color: rgb(0,0,0);
    font-size: 12px;
}

.notes {
	border: 1px solid #e78f08;
	border-radius: 20px;
	height: 50px;
	padding: 10px;
	margin: 5px;
	text-align: center;
	font-size: 18px;
	background-color: rgb(255,255,255);
	color: #e78f08;
	font-weight: bold;
}

form {
	margin-left: 10px;
	padding: 10px;
	color: rgb(0,0,0);
	font-weight: normal;

}


ul{
	padding-left: 10px;
	font-weight: bold;
}

li {
	padding: 10px;
	font-size: 16px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	list-style-type: none;
	list-style-position: outside;
}

p {
	padding: 2px;
}
.admin {
	width:800px;
	margin: auto;
	box-shadow:1.25px 1.25px 8px #48b8e5;
	text-align: center;
}

a:link {
    color: #337ab7;
}
a:visited {
    color: #3413BA;
}
